/* Variables */
@use 'variables';

/* Styling for images in markdown */
[alt$='>'] {
  float: right;
  margin: 20px;
  padding: 0.5em;
  border: 1px solid variables.$border-color;
}

[alt$='<'] {
  float: left;
  margin: 20px;
  padding: 0.5em;
  border: 1px solid variables.$border-color;
}

[alt$='><'] {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  float: none !important;
}

/* Responsive styling for small screens */
@media (max-width: variables.$phone-size) {
  [alt$='>'],
  [alt$='<'] {
    float: none;
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
  }
}
