/* Variables */
@use 'variables';

/* Footer */
.footer {
  background-color: variables.$footer-bg;
  color: variables.$footer-color;
}

.footer .content {
  margin: auto;
  max-width: variables.$content-size;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer a {
  color: variables.$footer-link;
  padding: 5px;
}

.footer .social {
  font-size: 2rem;
  filter: invert(1);
}
