/* Variables */
@use 'variables';

/* Header */
.header,
.footer {
  flex: 0 0 auto;
}

.header {
  margin: auto;
  max-width: variables.$content-size;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header {
  display: flex;
  align-items: center;
  /* Håller logga och titel centrerade vertikalt */
}

.nav {
  display: flex;
  /* Om du vill styra placeringen av nav-innehållet ytterligare kan du lägga till CSS här */
}

/* Title */

.title a {
  text-decoration: none;
}

.title {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.logo {
  padding: 0 20px;
}

.logo img {
  max-width: 50px;
}

@media (max-width: variables.$phone-padding) {
  .header,
  .main,
  .footer .content {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

@media (max-width: variables.$phone-size) {
  .title,
  .logo {
    padding: 1em 1em 1em 0;
  }

  .title {
    min-width: 50%;
  }

  .logo {
    max-width: 30%;
  }
}

.title * {
  color: #111;
}

.title p {
  font-style: italic;
}

.nav li a {
  text-decoration: none;
  font-weight: bold;
}
