@use '../../node_modules/normalize.css/normalize';
@use 'variables';

/* FontAwesome */
@use '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts' !important;
@use '../../shared/fontawesome/scss/brands';
@use '../../shared/fontawesome/scss/solid';
@use '../../shared/fontawesome/scss/regular';

@use 'typography';
@use 'header';
@use 'main';
@use 'footer';

@use 'blockquotes';
@use 'code';
@use 'figure';
@use 'mobile-menu';

@use 'technology';
@use 'analysis';

* {
  box-sizing: border-box;
  border: 0 none;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}
