/* Colors */
$border-color: rgba(204, 204, 204, 1);
$font-color: #444;

/* Header colors */
$header-title: #111;

/* Background colors */
$bg-color: #ffffff;

/* Nav colors */
$nav-link: #333;

/* Footer colors */
$footer-bg: #444;
$footer-color: #fff;
$footer-link: #222;

/* Code colors */
$code-bg: #f5f5f5;
$code-border: 1px solid #ccc;

/* Blockquote colors */
$blockquote-border: 0.5em solid #f5f5f5;

/* Sizes */
$content-size: 800px;
$phone-size: 768px;
$phone-padding: 850px;
